@model EditHomeViewModel

<form action="Edit" method="post" enctype="multipart/form-data">
    @foreach (var image in Model.PrevImages)
    {
        <img src="@image.Value" alt="Alternate Text" />
        <a href="~/Home/DeleteImage?id=@image.Key">Удалить</a>
    }

    <hr />
    <input type="hidden" asp-for="Id" />
    <input type="text" asp-for="Description" />
    <input type="text" asp-for="Address" />
    <input type="number" asp-for="Rooms" />
    <input type="number" asp-for="Price" />
    <input type="date" asp-for="BuildDate" />
    <input type="file" asp-for="Images" multiple/>
    <select asp-for="CategoryId">
        @foreach (var category in Model.Categories)
        {
            if (category.Key == Model.CategoryId)
            {
                <option selected value="@category.Key">@category.Value</option>
            }
            else
            {
                <option value="@category.Key">@category.Value</option>
            }
        }
    </select>
    <select asp-for="CityId">
        @foreach (var city in Model.Cities)
        {
            if (city.Key == Model.CityId)
            {
                <option selected value="@city.Key">@city.Value</option>
            }
            else
            {
                <option value="@city.Key">@city.Value</option>
            }
        }
    </select>

    <input type="submit" value="Изменить" />
</form>